<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <include file="$(find motor_control)/launch/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="urdf_robot_file" value="$(find motor_control)/urdf/cartesian_robot.urdf" />
        <arg name="robot_name" value="cartesian_robot" />
    </include>
</launch>
